#word-list {
    border: 2px solid black;
    padding: 0.5em;
    line-height: 1.5em;
    height: 3em;
    width: 40em;
    overflow: hidden;
    border-radius: 3px;
}

#word-list .next {
    background-color: #ddd;
    border-radius: 3px;
}

#word-list .error {
    background-color: #f00;
    border-radius: 3px;
}

#word-list .good {
    color: #0f0;
}

#word-list .bad {
    color: #f00;
}

.score-name {
    font-weight: bold;
}

.score-field {
    width: 4em;
}

#score-session td, #score-session th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
